@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: black;
    color: white;
    font-family: 'Pretendard', sans-serif !important;
}

caption {
    caption-side: top;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #444;
}

.custom-table th,
.custom-table td {
    padding: 12px;
    border: 1px solid #444;
}

.custom-table thead {
    background-color: #292929;
    font-weight: bold;
    font-size: 1.1rem;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #222;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #1c1c1c;
}

.custom-table td[colspan] {
    background-color: #333;
    font-weight: bold;
}